<!doctype html>

<html lang="pt-br">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="css/index.css" media="all">

	<link rel="icon" href="favicon.png">
	<title>|| Projeto X || Index</title>
</head>

<body>
	<header>
	<h1><div><span style="color:#ff0000;">P</span><span style="color:#ff4000;">r</span><span style="color:#ff7f00;">o</span><span style="color:#ffff00;">j</span><span style="color:#80ff00;">e</span><span style="color:#00ff00;">t</span><span style="color:#00ffff;">o</span><span style="color:#0080ff;"> </span><span style="color:#0000ff;">X</span></div></h1>
	<nav id="menu">
		<ul>
            <li><a href="index.html">Index</a></li>
		</ul>
	</nav>
	</header>
	<article>
		World Chalice related
		<img src="img/c2.jpg" width="200px" alt="hoje não"/>
		<img src="img/saber.jpg" width="200px" alt="hoje não"/>     
	</article>
	<aside>
		Tutorial
		<img src="img/souryuu.jpg" width="200px" alt="hoje não"/>
        <img src="img/furry.jpg" width="200px" alt="hoje não"/>
	</aside>       
	<section ng-app="myApp" ng-controller="myCtrl">
		<div id="conteudo">    
            <img id="stargrail" src="img/emil_crossford.png" alt="hoje não" style="width: 820px"/>
            <br/>
                  <label style="width: 200px" for="uname"><b>Usuário: </b></label>
                  <input ng-model="user" style="width: 200px" type="text" placeholder="Criatividade mandou um abraço" name="uname" required>
                  <label style="width: 200px" for="psw"><b>Senha: </b></label>
                  <input ng-model="pwd" style="width: 200px" type="password" placeholder="Certamente não é 123" name="psw" required>
                  <button style="width: 200px" onclick="window.location='home.html';">Entrar</button>
                  <label>
                    <input type="checkbox" checked="checked" name="remember"> Lembrar
                  </label>            
		</div>   
        <b>user:</b> {{user}} <b>pwd:</b> {{pwd}}
	</section>
	<footer>
		<p align="right" style="color:red">Desenvolvido por João, 2017.
		<a href="#" target="_top">topo</a>
		</p>
	</footer>
    <script type="text/javascript" src="js/teste.js"></script>
    <script>
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope) {

	});
	</script>
</body>

</html>